/*div.slide { border: 1px solid skyblue; }*/
/* ^^^ test */

/* NORMALIZE */
img { display: inline-block; }
body, * { margin: 0; padding: 0; }
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/* WRAP-STYLES */

.slide-wrapper {
    display: table;
    height: 100vh; /*@temp*/
    width: 100%;
    position: relative;
}

.slide {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: auto;
    text-align: center;
}

.presentation-wrapper {
    width: 100%;
    position: relative;
}

.presentation {
    max-width: 130vh;
    margin: auto;
}

.slide-wrapper { display: none; }
.current-slide { display: table; }

/* WRAP-DEFAULTS */

body {
    font-family: 'droid sans', "helvetica neue", helvetica, arial, 'open sans', sans-serif;
    font-size: 28px;
}

.presentation-wrapper { 
    background-color: #111; 
    color: white;
    text-shadow: 0 0 2px black;
}

.slide * { margin: 4px; }

.slide {
    padding-left: 10%;
    padding-right:10%;
}

a { 
    text-decoration: none;
    color: #FF4E00; /* @orange */
}
    a:hover { text-decoration: underline; }

/* STYLE-CLASSES */

.white { color: white; }
.orange { color: #FF4E00; /* @orange */ }
.grey { color: #999; }